/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */


.mobile-paralax-disabled{
    @apply max-md:inset-0 max-md:!transform-none 
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.animate-appear{
	opacity: 0;
	animation: appear 0.3s ease-in-out normal forwards;
}